<?xml version="1.0" encoding="UTF-8"?>

<suite name="AccompliceTestSuite">
	<test name="X">
		<groups>
			<run>
				<include name="LOGIN-1"/>
			</run>
		</groups>
		<classes>
			<class name="io.accomplice.testing.selenium.testclasses.TeamTests" />
			<class name="io.accomplice.testing.selenium.testclasses.LoginTests" />
		</classes>
	</test>
</suite>