<?xml version="1.0" encoding="UTF-8"?>

<suite name="AccompliceTestSuite">

   <test name="1">
    <classes>
      <class name="io.accomplice.testing.selenium.testclasses.TeamTests">
      	<!-- <methods>
      		<include name="testMethod"/>
      	</methods> -->
      </class>
    </classes>
  </test>



</suite>